.section {
  color: white;
  background-color: rgb(59, 59, 59);
  width: 55%;
  margin-left: 24%;
  position: absolute;
  top: 45%;
}

.h1 {
  text-align: center;
}

.p {
  text-align: center;
}
